body {
	margin: 0 auto;
}

#geral {
	width: 100%;
	min-height: 480px;
	background: #bebebe;
}

#topo {
	width: 100%;
	height: 50px;
	background-color: #333;
	-webkit-box-shadow: 0px 0px 10px 0px #000;
}

#areaLogo {
	width: 200px;
	height: 40px;
	margin: 0 auto;
}

#logoDesktop {
	width: 100%;
	height: 40px;
	margin: 5px 0px 10px 15px;
	float: left;
	position: relative;
}

#logoDesktop img {
	max-width: 90%;
	max-height: 90%;
}


#menuMobile {
	width: 40px;
	height: 40px;
	margin-top: 4.5px;
	margin-left: 5px;
	position: absolute;
	background: #333;
	-webkit-border-radius: 2px;
	top: 0px;
	left: 0px;
}

#menuMobile:hover {
	background-color: #222;
}

#col {
	width: 25px;
	height: 6px;
	background-color: #666;
	margin: 0px auto;
	margin-top: 5px;
}

#scrollMobile {
	width: 250px;
	position: absolute;
	margin: 0px 0px 0px -5px;
	background: #222;
	top: 50px;
	left: 0px;
}

#scrollMobile ul {
	margin: 0px 0px 0px -40px;
	list-style: none;
}

#scrollMobile ul li p {
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	font-family: verdana;
	font-weight: bold;	
	line-height: 10px;
}

#scrollMobile ul li {
	background: #222;
	text-align: left;
	line-height: 40px;
	padding-left: 15px;
	border-bottom: 1px solid #111;
}

#scrollMobile ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	font-family: verdana;
	font-weight: bold;
}

#scrollMobile ul a {
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	font-family: verdana;
	font-weight: bold;
}


#scrollMobile ul li ul{
	background: #333;
}

#scrollMobile ul li ul li {
	color: #fff;
	background: #333;
	font-size: 14px;
	font-family: verdana;
	font-weight: bold;
	border-bottom: 0px;
}

#scrollMobile ul li ul li:hover {
	text-shadow: 0px 0px 3px #999;
	border-right: 10px solid #9ACD32; 
}

#scrollMobile ul a li:hover {
	text-shadow: 0px 0px 3px #999;
	border-right: 10px solid #9ACD32;
}

.select {
	text-shadow: 0px 0px 3px #999;
	border-right: 10px solid #9ACD32; 
}

.menuMobile {
	width: 60%;
	height: 5px;
	background: #ff0000;
	margin: 0 auto;
	margin-top: 5px;
}

.fechar {}

#logoMobile {
	width: 80%;
	height: 50px;
	margin: 0px;
	margin-left: 50px;
	float: left;
	/*background-image: url(../img/logo.png);
	background-repeat: no-repeat;*/	
}

.style, .tablet, .rodape {
	display: none;
}

.mobile{
	padding-top: 5px;
}

#contDesktop {
	width: 90%;
	height: auto;
	margin: 0px auto;
	margin-top: 20px;
}

#contDesktop h1 {
	text-align: center;
	font-family: verdana;
}

#contDesktop table {
	margin: 0 auto;
}

#contDesktop table tr td{
	margin: 0 auto;
	max-width: 100px;
	overflow-x: hidden;
}

#contDesktop table th {
	margin: 0 auto;
	background-color: #9ACD32;
	color: #fff;
}

.center{
	text-align: center;
}

.controle{
	text-align: center;
}

#contDesktop table tr td a:not(:first-child) {
	padding-left: 10px;
	text-align: center;
}

.trConsulta:nth-child(2n){
	background-color: #e8e8e8;
}

.trConsultaCuriosidade {
	background-color: #98FB98;
}

#contDesktop input[type=submit], input[type=reset], input[type=button]{
	width: auto;
	height: 30px;
	-webkit-border-radius: 10px;
	border: 1px solid #333;
	background-color: #333;
	color: #fff;
	-webkit-box-shadow: 0px 0px 3px 0px #000;
	-moz-box-shadow: 0px 0px 3px 0px #000;
	font-weight: bold;
}

#contDesktop input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover{
	width: auto;
	height: 30px;
	background-color: #9ACD32;
	color: #FFF;
	font-weight: bold;
}

#contDesktop span {
	color: #ff0000;
}

.novo {
	font-weight: bold;
}

.destaque {
	font-size: 20px;
	font-weight: bold;
	
}

 label.error, input.submit { margin-left: 0px; color: red;}






